SERVER_PORT=8090

DB_URL=jdbc:postgresql://localhost:5432/rif_rh_stage_db
DB_USERNAME=postgres
DB_PASSWORD=change_me

JPA_DDL_AUTO=update
JPA_SHOW_SQL=true
APP_TIMEZONE=Africa/Tunis

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=ton_email@gmail.com
MAIL_PASSWORD=mot_de_passe_application_gmail
