# PostgreSQL
POSTGRES_DB=rif_rh_stage_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Backend later
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/rif_rh_stage_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# Security later
JWT_SECRET=change_me

# AI later
GROQ_API_KEY=change_me
GEMINI_API_KEY=change_me

# Firebase later
FIREBASE_CONFIG=change_me
